{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{{ url_for('reviews.create', book_id=book.id) }}" method="post" class="mt-4 text-center">
        <div class="mb-2">
            <select name="score" id="score" class="form-select">
                <option value="5" selected>Отлично</option>
                <option value="4">Хорошо</option>
                <option value="3">Удовлетворительно</option>
                <option value="2">Неудовлетворительно</option>
                <option value="1">Плохо</option>
                <option value="0">Ужасно</option>
            </select>
        </div>
        <div class="mb-2">
            <label for="text">Описание</label>
            <textarea id="text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

<script>
    const easyMDE = new EasyMDE({element: document.getElementById('text')});
</script>
{% endblock %}